/* carousel.css */

.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha os elementos na extremidade oposta */
    text-align: left;
    padding: 1rem;
  }
  
  .carousel-content {
    display: flex;
    align-items: flex-start; /* Alinha o conteúdo no topo */
    max-width: 100%; /* Ajusta o tamanho máximo para a imagem e o texto */
  }
  
  .carousel-image {
    max-width: 50%; /* Ajusta o tamanho da imagem */
    height: auto;
    border-radius: 10px;
    margin-right: 1rem; /* Espaçamento entre a imagem e o texto */
  }
  
  .carousel-text {
    color: white;
    max-width: 50%; /* Ajuste a largura máxima do texto conforme necessário */
    text-align: left; /* Alinha o texto à esquerda */
  }
  
  .carousel-text h2 {
    margin: 0; /* Remove a margem interna */
    font-size: 3rem; /* Ajusta o tamanho do título */
  }
  
  .carousel-text p {
    margin-top: 0.5rem;
    font-size: 1.2rem; /* Ajusta o tamanho do texto */
  }
  