/* Footer.css */

.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed; /* Fixa o footer na tela */
    bottom: 0; /* Coloca o footer no fundo da tela */
    width: 100%; /* Garante que o footer ocupe toda a largura */
  }
  
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
  }
  
  .footer-links li {
    margin-left: 2rem;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  