/* LoginUser.css */

.login-form-container {
    background-color: #ffffff; /* Fundo branco */
    padding: 2rem;
    margin: 2rem auto;
    width: 80%; /* Ocupa toda a largura disponível */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Mantém o padding dentro da largura especificada */
}

.login-form-section {
    width: 100%; /* Faz com que a seção ocupe toda a largura da tela */
    display: flex;
    justify-content: center; /* Centraliza o formulário horizontalmente */
    align-items: center; /* Centraliza o formulário verticalmente */
}
.login-form-section h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
.login-form-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.login-form-container div {
    margin-bottom: 1rem;
}

.login-form-container label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.login-form-container input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.login-form-container button:hover {
    background-color: #0056b3;
}

.login-form-container button:focus {
    outline: none;
}

@media (max-width: 600px) {
    .login-form-container {
        padding: 1.5rem;
        margin: 1.5rem auto;
    }
}
