.servicosContainer {
    background-color: #ffffff; /* Fundo branco */
    padding: 2rem;
    margin: 2rem auto;
    width: 100%; /* Ocupa toda a largura disponível */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Mantém o padding dentro da largura especificada */
  }
  
  .servicosContainer h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .servicosContainer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .servicosContainer li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .servicosContainer li:last-child {
    margin-bottom: 0;
  }
  